@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@font-face {
    font-family: myFont;
    src: url(Norse-Bold\(1\).otf);
    font-size: 50px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    background-color: #e1e7ee;
}
.container {
    display: flex;
}
.image {
    width: 30%;
    flex: 1.;
    position: relative;
}
.form {
    flex: 3;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* padding:0 50px; */
    width: 100%;
}
.mount {
    width: 100%;
    height: 100vh;
}
.logo-div {
    position: absolute;
    top: 30%;
    background-color: black;
    width: 100%;
    opacity: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.odin {
    color: #fff;
    font-family: myFont;
    font-size: 90px;
}
.logo {
    width: 30%;
}
.text {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.3;
    padding: 80px 30px 50px 30px;
    background-color: #e1e7ee;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text p {
    width: 50ch;
    font-weight: 700;
    font-size: 22px;
}
form {
    border: none;
    background-color: #e1e7ee;

}
legend {
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.822);
}
.fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 10px 30px;
    box-shadow: 0px 2px 3px 4px rgba(0, 0, 0, 0.1);
}

.sub-forms {
    display: flex;
    gap: 6em;
}
.sub-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input {
    display: flex;
    flex-direction: column;
}
.input.success input {
    border: 1px solid green;
    font-size: 12px;
}
.input.error input {
    border: 1px solid red;
}
.input.error .display_error {
    font-size: 12px;
    color: red;
}
.footer {
    background-color: #e1e7ee;
    font-size: 14px;
    padding-left: 30px;
    margin-bottom: 30px;
}
input {
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    outline: none;
    padding: 10px;
}
.footer a {
    color: rgb(6, 92, 6);
}
button {
    margin: 30px;
    text-align: center;
    padding: 13px 25px;
    font-weight: 900;
    color: #fff;
    background-color: rgb(7, 90, 199);
}